
.container-fluid{
    padding-left: 0px !important;
    padding-right: 0PX !important;
}
.row{
    padding-left: 0px !important;
    padding-right: 0PX !important;
}
.LoginCol{
    padding-left: 0px !important;
    padding-right: 0pX !important; 
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.LoginCol2{
     padding-left: 0px !important;
    padding-right: 0pX !important; 
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.LoginRow {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
     margin-left: 0px !important;
    margin-right: 0pX !important; 
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.LoginRow img{
    width: 100%;
    height: 100vh;
}
.LoginImage{
    padding-top:20px;
    height: 100%;
    margin: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginImage img{
    max-width: 300px;
    min-width: 400px;
    height: 200px;
    margin: 0px !important;
}
.LoginImage .form-label{
    color: #0a0a0a !important;
}

.LogoWhite{
    display: none;
}
@media (max-width:600px) {
    .LogoBlack{
        display: none;
    }
    .LoginImage img{
        max-width: 290px;
        min-width: 400px;
        height: 200px;
        margin: 0px !important;
    }
    .LogoWhite{
        display: block;
    }
    .LoginSmallbg{
    background-image: url('../assets/LoginBgImg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
    .LoginImage{
        background-color: none !important;
 background: rgba(0, 0, 0, 0.871),url('../assets/LoginBgImg.jpg') !important;
 box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
 backdrop-filter: blur( 10px );
 -webkit-backdrop-filter: blur( 20px );
	border-radius: 10px;
 border: 1px solid rgba( 255, 255, 255, 0.18 );
        height: 0vh;
        min-height: 100vh;
    }
    .LoginCol img{
       display: none;
    }

    .LoginImage .form-label{
        color: #FFFFFF !important;
    }
}

/* .form-label{
    color:#0a0a0a !important;
} */

.tickettable input{
    margin: 0px !important;
}
.tickettable table{
    background-color: rgb(165, 127, 255);
    padding: 5px 5px;
    border-radius: 10px;
}
.tickettable thead{
    border-color:rgb(179, 130, 238);
}
.tableBody tr{
    margin: 10px 0px !important;
}

.ticketFace{
    /* width: 90%; */
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(165, 127, 255);
}
.ticketLogo{
    width: 70%;
}
.ticketQr{
    max-width:80px;
}
@media (max-width:600px){
    .ticketFace{
        width: 100%;
        margin: 5px;
        padding: 5px;
        background-color: rgb(165, 127, 255);
    }
}
.TicketCheck .form-check-input {
    --bs-form-check-bg:rgb(255, 255, 255);
    border:2px solid #353434;
}
.error{
    color: #F35421;
}
.ticketSelect{
    padding: 0px 0px !important;

}
.ticketSelect select{
    -moz-appearance: none;
	-webkit-appearance: none;
}
.ticketinput{
        padding: 0px 0px !important;
}
.profile .dropdown ul{
    position: absolute;
    inset: 13px 0px auto -20px !important;
}

.dropdownOption{
    color: #0a0a0a !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}
.newTicket .nav-tabs .nav-link.active{
    background-color: transparent !important;
    border-color: transparent !important;
}
.newTicket .nav-tabs{
   --bs-nav-tabs-border-width:none !important;
}
.assignList{
    min-height: 50vh;
    max-height: auto;
}
/* .assignList .css-3w2yfm-ValueContainer{
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    
} */

/* @media (max-width:500px) {
    .offcanvas.offcanvas-end{
        width:var(--bs-offcanvas-width);
    }
} */
/* .filterIcon{
    height: 40px;
} */

.SelectDesign select,input[type='date']{
	margin: 0px 0px !important;
	padding: 10px 10px !important;
	box-shadow: none !important;
	border-radius: 5px !important;
	border: 1px solid #1EA7FD50;
    min-width: 150px;
}

.imageBg{
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.imageBtn{
display: flex;
flex-direction: column;
}

  .Imgbtn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .upload-btn-wrapper input[type=file] {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin-left: -150px;
    opacity: 0;
  }

  .Sponsoruploadbtn {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.Sponsoruploadbtn input[type=file] {
    font-size: 20px;
    position: absolute;
    opacity: 0;
  }
  /* .eventRadio input[type=radio]{
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  .eventRadio {
    height: 20px;
    display: flex;
  } */

  /* .eventRadio label{
    margin-bottom: 0px !important;
  } */
  /* .eventRadio {
    height: 20px;
    display: flex;
    position: relative;
  } */
 .radioGroup input[type=radio]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    outline: none;
    vertical-align: middle;
    position: absolute;
    z-index: -1;
  }
  .eventRadio1, .eventRadio2, .eventRadio3 {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .eventRadio1 label {
    border-radius: 8px !important;   
  }
  .eventRadio2 label {
    border-radius: 8px !important;   
  }
  .eventRadio3 label {
    border-radius: 8px !important;   
  }
 /* .radioGroup label{
    padding: 5px 5px;
 } */
  .eventRadio1 input[type="radio"]:checked {
    background: #ffcf52;
    padding: 15px 60px;
  }
  .eventRadio2 input[type="radio"]:checked {
    background-color: #46bcaa;
    padding: 15px 50px;
  }
  .eventRadio3 input[type="radio"]:checked {
    background-color: #f35421;
    padding: 15px 48px;
  }
  .radioGroup .colorWhite{
    color: #FFFFFF;
    z-index: 99;
    margin-left: -5px !important;
    padding: 5px 5px;
  }
  .radioGroup .colorBlack{
    color: #6c757d;
    z-index: 1;

  }

.bannerBgImageMain {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.bannerBgImageMain img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.black {
  text-align: center;
  background: #000;
  background-blend-mode: multiply;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .4;
}

.bannerBgoverlay {
  color: #fff;
  font-size: 1em;
  align-self: center;
  position: absolute;
  z-index: 10;
}

.jodit-status-bar{
    display: none !important;
}
.heightCol{
    min-height: 200px;
}
.heightColcard{
    min-height: 300px;
}
.settingDesign{
    margin-right:20px;
}
.purchasemain::-webkit-scrollbar {
    display: none;
}
.purchasemain {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}
.purchaseTable{
    width: 100% !important;
    overflow-x: scroll !important; 
    overflow-y: auto !important;
    min-height: 260px !important;
    max-height: auto;
}
.purchaseTable thead th {
    position: sticky !important; 
    top: 0px !important;
  }

.purchaseTable::-webkit-scrollbar {
    display: none;
}
.purchaseTable {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
.purchaseTable th, td { 
    min-width: 150px;
}
.purchaseFilter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
    gap: 10px;
}
@media (max-width:990px) {
    .purchaseFilter{
        flex-wrap: wrap;
    }
}
.purchaseLoadingTable button{
    width: 200px !important;
    padding: 5px 0px !important;
}

.TopTicketSale::-webkit-scrollbar {
    display: none;
}
.fbLogin{
        background: #4267b2;
        border-radius: 5px;
        color: white;
        height: 40px;
        text-align: center;
        width: 250px;
        border: none;
        outline: none;
}
