
.container-fluid{
    padding-left: 0px !important;
    padding-right: 0PX !important;
}
.row{
    padding-left: 0px !important;
    padding-right: 0PX !important;
}
.LoginCol{
    padding-left: 0px !important;
    padding-right: 0pX !important; 
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.LoginCol2{
     padding-left: 0px !important;
    padding-right: 0pX !important; 
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.LoginRow {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
     margin-left: 0px !important;
    margin-right: 0pX !important; 
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.LoginRow img{
    width: 100%;
    height: 100vh;
}
.LoginImage{
    padding-top:20px;
    height: 100%;
    margin: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginImage img{
    max-width: 300px;
    min-width: 400px;
    height: 200px;
    margin: 0px !important;
}
.LoginImage .form-label{
    color: #0a0a0a !important;
}

.LogoWhite{
    display: none;
}
@media (max-width:600px) {
    .LogoBlack{
        display: none;
    }
    .LoginImage img{
        max-width: 290px;
        min-width: 400px;
        height: 200px;
        margin: 0px !important;
    }
    .LogoWhite{
        display: block;
    }
    .LoginSmallbg{
    background-image: url('../assets/LoginBgImg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
    .LoginImage{
        background-color: none !important;
 background: rgba(0, 0, 0, 0.871),url('../assets/LoginBgImg.jpg') !important;
 box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
 backdrop-filter: blur( 10px );
 -webkit-backdrop-filter: blur( 20px );
	border-radius: 10px;
 border: 1px solid rgba( 255, 255, 255, 0.18 );
        height: 0vh;
        min-height: 100vh;
    }
    .LoginCol img{
       display: none;
    }

    .LoginImage .form-label{
        color: #FFFFFF !important;
    }
}

/* .form-label{
    color:#0a0a0a !important;
} */

.tickettable input{
    margin: 0px !important;
}
.tickettable table{
    background-color: rgb(165, 127, 255);
    padding: 5px 5px;
    border-radius: 10px;
}
.tickettable thead{
    border-color:rgb(179, 130, 238);
}
.tableBody tr{
    margin: 10px 0px !important;
}

.ticketFace{
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(165, 127, 255);
}
.ticketLogo{
    width: 70%;

}
.ticketQr{
    max-width:80px;
}
@media (max-width:600px){
    .ticketFace{
        width: 100%;
        margin: 5px;
        padding: 5px;
        background-color: rgb(165, 127, 255);
    }
}
.TicketCheck .form-check-input {
    --bs-form-check-bg:rgb(255, 255, 255);
    border:2px solid #353434;
}
.error{
    color: #F35421;
}
.ticketSelect{
    padding: 0px 0px !important;

}
.ticketSelect select{
    -moz-appearance: none;
	-webkit-appearance: none;
}
.ticketinput{
        padding: 0px 0px !important;
}
.profile .dropdown ul{
    position: absolute;
    inset: 13px 0px auto -20px !important;
}

.dropdownOption{
    color: #0a0a0a !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}
.newTicket .nav-tabs .nav-link.active{
    background-color: transparent !important;
    border-color: transparent !important;
}
.newTicket .nav-tabs{
   --bs-nav-tabs-border-width:none !important;
}
.assignList{
    min-height: 50vh;
    max-height: auto;
}
/* .assignList .css-3w2yfm-ValueContainer{
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    
} */
.offcanvas.offcanvas-end{
    width:700px !important;
}

@media (max-width:500px) {
    .offcanvas.offcanvas-end{
        width:var(--bs-offcanvas-width);
    }
}